h1, h2, p {
  text-align: center;
  font-family: "Open Sans Condensed", serif;
}

body{
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  font-family: sans-serif;
  padding: 20px;
}

.menu{
  width: 80%;  /*80% value of its parent (body)*/
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

.item p{
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}

.flavor, .dessert{
  text-align: left;
  width: 75%;
}

.price{
  text-align: right;
  width: 25%;
}

.established{
  fonst-style: italic;
}

h1{
  font-size: 40px;
  margin-top: 0px;  /* browser has some default margin */
  margin-bottom: 15px;
}
h2{
  font-size: 30px;
}

hr{
  height: 2px;
  background-color: brown;
  border-color: brown;  /* border top and bottom each have 1px height so in total hr will have 4px*/
}

.bottom-line{
  margin-top: 25px;
}

/*FOOTER*/
footer{
  font-size: 14px;
}
a {
  color: black;
}
 /*after visiting link changes colour*/
a:visited {
  color: black;
}

a:hover {
  color: white;
}

a:active {
  color: brown;;
}

.address{
  margin-bottom: 5px
}
